/* 
 font-family: 'Unlock', cursive;
font-family: 'Amatic SC', cursive;
*/ 
 
 body{
    background-image: url(../images/LeavittWells4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
  background-attachment: fixed;
}

h1{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    border-radius: 25px;
    color: white;
    height:100px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 5px 5px 9px rgb(224 138 178);
    font-family: 'Unlock', cursive;
}

#triviaQuestions{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    height: 3800px;
    width: 700px;
    border-radius: 25px;
    padding: 100px;
    margin: 10px 250px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
   
    
}
.questions{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(105 173 140);
    font-size: 45px;
    
}
#timer{
    background-color: rgb(105 173 140);
    margin: 0px 100px 0px 1000px;
    text-align: center;
}
#correct{
    background-color: rgb(105 173 140);
    color:white;
    margin: 0px 490px;

}
#wrong{
    background-color: rgb(105 173 140);
    color:white;
    margin: 0px 490px;

}
#button{
    margin: 0px 520px;
}



/*
rgb(176 106 173)
rgb(49 21 70)
rgb(64 27 98)
*/