 body{
    background-image: url(../images/LeavittWells4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
  background-attachment: fixed;
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 5px 5px 9px rgb(224 138 178);
}

#triviaQuestions{
    background-color: rgb(120 69 157);
    border: solid 2px purple;
    height: 2300px;
    width: 700px;
    border-radius: 25px;
    padding: 100px;
    margin: 10px 250px;
    color: rgb(105 173 140);
    
}
.questions{
    text-align: center;
}
input{
    padding: 0px 30px;
}


/*
rgb(176 106 173)
rgb(49 21 70)
rgb(64 27 98)
*/