/* 
 font-family: 'Unlock', cursive;
font-family: 'Amatic SC', cursive;
*/ 
 
 body{
    background-image: url(../images/LeavittWells4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
  background-attachment: fixed;
}
#opening{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    height: 500px;
    width: 700px;
    border-radius: 25px;
    padding: 100px;
    margin: 10px 250px 100px 250px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
   
}
#startGame{
    margin: 20px 175px;
}

h1{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    border-radius: 25px;
    color: white;
    height:100px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 5px 5px 9px rgb(224 138 178);
    font-family: 'Unlock', cursive;
    margin: 20px;
}


#triviaQuestions{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    height: 3800px;
    width: 700px;
    border-radius: 25px;
    padding: 100px;
    margin: 10px 250px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    
   
    
}
.questions{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(105 173 140);
    font-size: 45px;
    
}
#button{
    margin: 20px 175px;
    
}
#timer{
    background-color:rgb(120 69 157) ;
    margin: 0px 100px 0px 1000px;
    text-align: center;
    box-shadow: 6px 6px rgb(105 173 140);
   /* font-family: 'Amatic SC', cursive;*/
    position: fixed;
    /* rgb(105 173 140)*/
}
#after_submit{
    background-color: rgb(120 69 157);
    border: dotted 2px white;
    height: 400px;
    width: 700px;
    border-radius: 25px;
    padding: 100px;
    margin: 10px 250px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
   

}
h2{
    /* border: dotted 2px white;
    border-radius: 25px; */
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px 9px rgb(224 138 178);

}
/*#correct{
    background-color: rgb(105 173 140);
    color:white;
    margin: 0px 490px;
    

}
#wrong{
    background-color: rgb(105 173 140);
    color:white;
    margin: 0px 490px;
   

}




/*
rgb(176 106 173)
rgb(49 21 70)
rgb(64 27 98)
*/